* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}
.wrapper {
}
.nav {
    background-color: black;
    height: 100px;
}
.content {
    flex: 1;
    background-color: white;
}
